body {
  padding-top: 54px;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

/*.red{*/
	/*color:red;*/
/*}*/
/*.form-area*/
/*{*/
	/*background-color: #FAFAFA;*/
	/*padding: 10px 40px 60px;*/
	/*margin: 10px 0px 60px;*/
/*}*/